

.navbar{
    border-bottom: 2px solid orangered;
}

.logo{
    width: 20%;
}

.btn-nav{
    border: 1px solid orangered;
    padding: 10px;
    width: 50%;
    background: transparent;
}
.btn-nav:hover{
    background-color: orangered;
    color: white;
}